<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="icon" href="https://cdnimg.melon.co.kr/cm/album/images/102/25/722/10225722_1000.jpg?d2e4243b7abf389ab967a845848d5577/melon/quality/80/optimize">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <script src="{% static "js/script.js" %}"></script>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <title>Homebody</title>
    </head>

    <body>
        <div class="overlay center">
            <img src="https://thumbs.gfycat.com/FastInsignificantBlueshark-size_restricted.gif">
        </div>            
        
        <div class="accordion-container">
            <div class="set">
                <a href="#">
                    Aktivitas
                    <i class="fa fa-plus"></i>
                </a>
                <div class="content">
                    <h6>⁂ Kuliah</h6>
                    <h6>⁂ Pulang</h6>
                    <h6>⁂ Fangirling</h6>
                    <h6>⁂ Baca puisi Joko Pinurbo</h6>
                </div>
            </div>
            <div class="set">
                <a href="#">
                    Pengalaman Organisasi & Kepanitiaan
                    <i class="fa fa-plus"></i>
                </a>
                <div class="content">
                    <h6>⁂ Staff PAF FUKI Fasilkom 2018</h6>
                    <h6>⁂ Staff Aspirasi DPM Fasilkom UI 2018</h6>
                    <h6>⁂ Pengajar Bahasa Inggris BETIS 2018</h6>
                    <h6>⁂ Staff Penunjang SIWAK-NG 2018</h6>
                </div>
            </div>
            <div class="set">
                <a href="#">
                    Prestasi
                    <i class="fa fa-plus"></i>
                </a>
                <div class="content">
                    <h6>⁂ Semifinal olimpiade sains SD</h6>
                    <h6>⁂ Saya sebenernya nggak punya prestasi</h6>
                    <h6>⁂ Tambahin 1 lagi biar kelihatan banyak</h6>
                </div>
            </div>
        </div>
      
        <div style="text-align : center">
            <a href="#" id="theme" type="button" class="btn btn-primary">
                Change Theme
            </a>
            <a href="/story10/" id="sub" type="button" class="btn btn-primary">
                Subscrieb
            </a>
        </div>
    </body>
</html>