<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="icon" href="https://cdnimg.melon.co.kr/cm/album/images/102/25/722/10225722_1000.jpg?d2e4243b7abf389ab967a845848d5577/melon/quality/80/optimize">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <script src="{% static "js/script.js" %}"></script>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <title>Join the Cult</title>
    </head>

    <body>
        <h1> Join meh! </h1>

        <form method="POST" class="form-group">
            {% csrf_token %}
            {{user}}
            <div style="text-align: center;">
                <button id="sub" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        <table>
            {% for user in user_list%}
            <tr>{{user.name}}</tr>
            {% endfor %}
        </table>


    </body>