body{
    background-color: #f4e1d2;
    padding: 0 10px;
    font-family: 'Raleway', sans-serif;
}

.accordion-container{
    position: relative;
    max-width: 500px;
    height: auto;
    margin: 10px auto;
}

.accordion-container > h2{
    text-align: center;
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.set{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
}
  
.set > a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #555;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    transition:all 0.2s linear;
  }
  .set > a i{
    float: right;
    margin-top: 2px;
  }
  .set > a.active{
    background-color:#f18973;
    color: #fff;
  }
  .content{
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display:none;
  }
  .content p{
    padding: 10px 15px;
    margin: 0;
    color: #333;
  }

  #theme{
      background-color: #bc5a45;
      border-color: #c45138;
  }

.overlay{
  position: fixed;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:#f4e1d2;
  z-index: 999;
  width: 100%;
  height: 100%;
  size: cover;
}
